@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=DM+Serif+Display&display=swap');

html {
  /* color: blue; */

  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25'   width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='175' height='175' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(66)'%3E%3Crect width='100%25' height='100%25' fill='rgba(255, 228, 233,1)'/%3E%3Ccircle cx='0' cy='0' r='20' fill='rgba(66, 21, 84,1)'/%3E%3Ccircle cx='40' cy='40' r='28' fill='rgba(66, 21, 84,1)'/%3E%3Cpath d='M 20 7a 13 13 0 0 0 0 26a 13 13 0 0 0 0-26zM-10-10h 60v 60h-60z' fill='rgba(124, 0, 124,1)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ")
}

body {
  margin: 20px;
  color: #DD9300;
  /* font-family: 'Crete Round', serif; */
  font-family: 'DM Serif Display', serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

