#UserDetails{
    display: grid;
    grid-template-rows: auto auto auto auto;
    row-gap: 15px;
    place-items: center;
    place-content: center;
}

.UserName{
    justify-self: center;
}

.UserSunSign{
    justify-self: center;
}

.Link {
    background-color: #23222233;
    height: 20px;
    width: 80px;
    border-radius: 15px;
    padding: 5px 10px;
    text-align: center;   

}

@media only screen and (max-width: 426px) {

}